{% extends "base.twig" %}

{% block title %}Vinst{% endblock %}

{% block lvl %}
<p>Du har nu klarat av samtliga nivåer. Gratulerar, min gode!<br/>
Stort tack till dig som har deltagit i denna tävling.<br/><br/>

<p>- <span style="color:lightblue;">Gustaf H.</span> & <span style="color:orange;">Tog</span>ethernet</p><br/>

<h2 style="color:#ffea01;">Vinnare</h1>
<p>1. Alexander (18A) & William (16B)</p>

{% endblock %}
