{% extends "base.twig" %}

{% block title %}Nivå 5{% endblock %}

{% block lvl %}
<p>Va fasen! Här behöver vi ta till artilleriet. Bokstavligen.<br/>
Min gode, vad är det här?</p>

<img src="/26628912681_7dcf2ac45c.jpg" alt="Needs More JPEG From USMC"/>

<p>Flagga:</p>
<form action="/level/4" method="post" autocomplete="off">
	<input type="text" width="30" name="flag" autofocus class="input"/><br/><br/>
	<input type="submit" value="Skicka" id="submitbtn"/>
</form>

{% endblock %}
