{% extends "base.twig" %}

{% block aid %}
<meta name="generator" content="Wordpress">
{% endblock %}

{% block title %}Nivå 7{% endblock %}

{% block lvl %}
<p>Kakmonstret har blivit IT-konsult och labbar med en SQLite-databas för första gången. Han är bombsäker på att den är bombsäker.<br/>
... Eller är den verkligen det?</p>

<form action="/level/6" method="post" autocomplete="off">
	<input type="text" width="30" name="username" autofocus class="input"/><br/>
	<input type="password" width="30" name="password" class="input"/><br/><br/>
	<input type="submit" value="Skicka" id="submitbtn"/>
</form>

{% endblock %}
